/* We're getting most of our CSS from latex.css */

/* Handy little indicator especially while debugging / fussing with CSS */
body::after {
  content: "Rendered by Expost v2023.02.17c";
  color: #999999;
  font-size: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
}

body {
  /* font-family: verdana, sans-serif; */ /* more webby, less latex-y */
  background-color: #fcfcff;
  color: #1a1c1e;
  font-size: 19px; /* bigger than latex.css's default */
}

/* Shrink this enough so it doesn't horizontal-scroll as long as it's 80chars */
pre, code {
  font-size: 73%;
}

/* Fuss, fuss. This is what seems to look good.
body { 
  font-family: verdana, sans-serif;
  font-size:   17px;  
  line-height: 25px;
  max-width:   820px;
  margin:      1em auto; 
  padding:     0 1em;
  text-align:  justify;
} */

/* Otherwise it tries to justify headers on mobile */
/* h1,h2,h3,h4,h5,h6 { text-align: left; } */

/* Bulleted and numbered lists look too squished without this */
/* li { line-height: 25px; } */

/* Fuss, fuss. This is what seems to look good. */
/* blockquote { padding-left:  5%;
             padding-right: 15%; } */

/* We do <img class="aligncenter"> on Beeminder blog & MessyMatters */
img.aligncenter { display:    block; 
                  margin:     5px auto; 
                  text-align: center;   }

/* Deprecated. What we meant was the html5 <aside> tag.
   Do <div class="sidebar"> like, eg, on doc.bmndr.com/conservaround */
div.sidebar { border-style:  solid;
              border-width:  1px;
              border-radius: 5px;
              padding:       25px 25px;
              margin:        50px 50px;
              float:         right;     }

aside { background-color: #f5f5f5;  /* #f5f5f5 is what code blocks have */
        border-style:     solid;
        border-width:     1px;
        border-radius:    5px;
        padding:          25px 25px;
        margin:           50px 50px;
        float:            right;     }

/* We do <h4 class="pullquote" on Beeminder blog & MessyMatters */
.pullquote { display:             inline;
             padding:             10px;
             float:               right;
             width:               250px;
             margin-top:          10px;
             margin-bottom:       10px;
             margin-left:         20px;
             border-top-width:    2px;
             border-bottom-width: 2px;
             border-top-style:    solid;
             border-bottom-style: solid;
             border-top-color:    #694e1c;
             border-bottom-color: #694e1c;
             font-size:           21px;
             line-height:         1.25em;
             text-align:          left;
             font-style:          italic;
             font-weight:         normal;  }

/* This is what looked good for the table in the Nominology post I guess */
table    { margin-bottom: 1.625em; border-collapse: collapse; }
th       { font-weight: bold; }
tr,th,td { margin: 0; padding: 0 1.625em 0 1em; height: 26px; }
tfoot    { font-style: italic; }
caption  { text-align: center; font-family: Georgia, serif; }

/* Nominology graphic */
ol.nom {  display:       inline-block;
          margin:        0px;
          font-size:     16px;
          border-right:  1px solid black;
          font-family:   Helvetica;       }
.nom li { float:         left;
          list-style:    none;
          border-bottom: 1px solid black;
          border-left:   1px solid black;
          border-top:    1px solid black;
          padding:       5px 7px;         }
.nom li.name { font-family:      serif; }
.nom li.red  { background-color: #f83535; }
.nom li.yel  { background-color: yellow; }
.nom li.grn  { background-color: #57ac1b; }
a.nom        { color: black; text-decoration: none; }

/* style for a list with cute bee-icon bullets */
.beelist {
  list-style: none;
  padding-inline-start: 1rem;
}
.beelist li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}
.beelist li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('https://s.w.org/images/core/emoji/14.0.0/svg/1f41d.svg');
    background-size: contain;
    background-position: center;
    left: 0;
}

/* Scratch Area */

/* Now using the pullquote one instead of this
div.sidebar {
  width:300px;
  font-size:1.4em;
  line-height:1em;
  font-style:italic;
  float:right;
  margin: 0 0 10px 30px;
  padding:.1em; 
  text-align:left;
}
*/

/*
li {
  margin-bottom: 4px;
  margin-top:    4px;
  margin-left:   22px;
  margin-right:  22px;
}
*/

/*
p { padding: 0 0 0.0125em 0; color:#111; font-weight:300; }
*/

/*
p.first:first-letter { 
  float:left;
  font-size:3em;
  font-weight:700;
  line-height:1em;
  margin-bottom:-0.2em;
  padding: 0.2em 0.1em 0 0; }
*/

/*
p img       { float:left;  margin: 0.5em 0.8125em 0.8125em 0; padding:0; }
p img.right { float:right; margin: 0.5em 0 0.8125em 0.8125em }
*/
/* img             { padding:1em; } */

/*
h1 { display:block; width:100%; border-bottom: 1px solid #333; 
     font-size:1.2em; padding-bottom:.5em; margin-bottom:.75em; 
     font-weight:bold; }
*/
/* h1    { font-size:2.0em; margin-bottom:0.765em; line-height:1em } */
/*
h2    { font-size:1.5em;  margin-bottom:0.855em; font-style:normal; font-weight:bold;}
h3    { font-size:1.17em; margin-bottom:0.956em; font-style:normal; font-weight:bold;}
h4    { font-size:1.0em;  margin-bottom:1.161em; font-style:normal; font-weight:bold;}
h5,h6 { font-size:1.0em;  margin-bottom:1.238em; font-style:normal; font-weight:bold;}
*/

/*
ul     { list-style-position:outside; }
li ul, 
*/
/*
li ol  { margin: 0 1.625em;  }
ul, ol { margin: 0 0 1.625em 0; }
*/

/*
dl    { margin: 0 0 1.625em 0; }
dl dt { font-weight:bold; }
dl dd { margin-left:1.625em; }

a { color:#005AF2; text-decoration:none; }
a:hover { text-decoration:underline; }
*/


/*
abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top:1.625em; font-style:italic; }
del { color:#000; }
*/

/*
blockquote > p { padding:0; margin:0; }
*/

/*
strong  { font-weight:bold; }
em, dfn { font-style:italic; }
dfn     { font-weight:bold; }
*/

/*
pre, code, tt {
  font-family: "Lucida Console", Monaco; 
  font-size:95%;
}
*/

/*
hr { margin-bottom:1.625em; }
*/

/* This h4.def and dd p thing hasn't been part of expost in production for years
 * all the way to 2017 but was in the local copy of this file all along. So I'm
 * not sure if we actually want this or not. PS: Removed again 2020-03-23 so
 * probably safe to remove if we haven't noticed anything that cares about this.
/*
h4.def{
  margin-bottom:0px;
  -webkit-margin-after:0px;
}
dd p {
  margin-top: 0px;
}
*/


/* Super ancient scratch area below */

/*
p + p { text-indent:1.625em;} 

.oldbook { 
  font-family: 
    "Warnock Pro","Goudy Old Style","Book Antiqua","Palatino",Georgia,serif; }
.note { 
  font-family:Georgia, "Times New Roman", Times, serif; 
  font-style:italic; 
  font-size:0.9em; 
  margin:0.1em; 
  color:#333; } 
.mono { font-family:"Courier New", Courier, monospace; }

*/

