/* Originally based on http://code.google.com/p/better-web-readability-project/
 * with modifications by dreeves and bsoule, usually to be more like
 * http://lab.arc90.com/experiments/readability/ */

body { 
  /* font-family: arial, helvetica, sans-serif; */
  font: normal normal normal 15px/normal 'Times New Roman'; /* newyorker */
  font-size:17px;                                           /* newyorker */
  line-height:25px;                                         /* newyorker */
  background-color:#FFFEF0;  
  max-width:820px;
  margin: 1em auto; 
  padding: 0 1em;
  text-align:justify;
}

div.sidebar {  /* actually called pull-quotes; this one is deprecated */
  width:300px;
  font-size:1.4em;
  line-height:1em;
  font-style:italic;
  float:right;
  margin: 0 0 10px 30px;
  padding:.1em; 
  text-align:left;
}

.pullquote {
  display:inline;
  padding:10px;
  float:right;
  width:250px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:20px;
  border-top-width:2px;
  border-bottom-width:2px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-top-color:#694e1c;
  border-bottom-color:#694e1c;
  font-size:21px;
  line-height:1.25em;
  text-align:left;
  font-style:italic;
  font-weight:normal;
}

p { padding: 0 0 0.0125em 0; color:#111; font-weight:300; }  /* was .8125em */

p.first:first-letter { 
  float:left;
  /* font-family: baskerville, "palatino linotype", serif; */
  font-size:3em;
  font-weight:700;
  line-height:1em;
  margin-bottom:-0.2em;
  padding: 0.2em 0.1em 0 0; }

/*
p img       { float:left;  margin: 0.5em 0.8125em 0.8125em 0; padding:0; }
p img.right { float:right; margin: 0.5em 0 0.8125em 0.8125em }
*/
img.aligncenter { display:block; margin: 5px auto; text-align:center; }
/* img             { padding:1em; } */

h1 { display:block; width:100%; border-bottom: 1px solid #333; 
     font-size:1.2em; padding-bottom:.5em; margin-bottom:.75em; }
/* h1    { font-size:2.0em; margin-bottom:0.765em; line-height:1em } */
h2    { font-size:1.5em;   margin-bottom:0.855em; }
h3    { font-size:1.17em;  margin-bottom:0.956em; }
h4    { font-size:1.0em;   margin-bottom:1.161em; }
h5,h6 { font-size:1.0em;   margin-bottom:1.238em; }

/*
ul     { list-style-position:outside; }
li ul, 
*/
/*
li ol  { margin: 0 1.625em;  }
ul, ol { margin: 0 0 1.625em 0; }
*/

dl    { margin: 0 0 1.625em 0; }
dl dt { font-weight:bold; }
dl dd { margin-left:1.625em; }

a { color:#005AF2; text-decoration:none; }
a:hover { text-decoration:underline; }

table    { margin-bottom:1.625em; border-collapse:collapse; }
th       { font-weight:bold; }
tr,th,td { margin:0; padding: 0 1.625em 0 1em; height:26px; }
tfoot    { font-style:italic; }
caption  { text-align:center; font-family: Georgia, serif; }

abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top:1.625em; font-style:italic; }
del { color:#000; }

blockquote { 
  padding: 1em 1em 1.625em 1em; 
  /* font-family: georgia, serif; */
  font-style:italic; }
/* blockquote:before { content:"\201C";font-size:3em;margin-left:-.625em; font-family:georgia,serif;color:#aaa;line-height:0;} */  /* From Tripoli  */
blockquote > p { padding:0; margin:0; }

strong  { font-weight:bold; }
em, dfn { font-style:italic; }
dfn     { font-weight:bold; }
/* pre, code { margin: 1.625em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } */
pre, code, tt { font-family: "Lucida Console", Monaco; font-size:95% }
/* tt { display: block; margin: 1.625em 0; } */
hr { margin-bottom:1.625em; }

/* nominology graphic */
ol.nom {
  display: inline-block;
  margin: 0px;
  font-size: 16px;
  border-right: 1px solid black;
  font-family: Helvetica;
}
.nom li {
  float: left;
  list-style: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 5px 7px;
}
.nom li.name{ font-family: serif; }
.nom li.red{ background-color: #f83535; }
.nom li.yel{ background-color: yellow; }
.nom li.grn{ background-color: #57ac1b; }
a.nom{ color: black; text-decoration: none; }

/* this h4.def and dd p thing hasn't been part of expost in production for years
 * all the way to 2017 but was in the local copy of this file all along.
 * so i'm not sure if we actually want this or not */
h4.def{
  margin-bottom:0px;
  -webkit-margin-after:0px;
}
dd p {
  margin-top: 0px;
}

/* SCRATCH AREA. SCHDEL. 

p + p { text-indent:1.625em;} 

.oldbook { 
  font-family: 
    "Warnock Pro","Goudy Old Style","Book Antiqua","Palatino",Georgia,serif; }
.note { 
  font-family:Georgia, "Times New Roman", Times, serif; 
  font-style:italic; 
  font-size:0.9em; 
  margin:0.1em; 
  color:#333; } 
.mono { font-family:"Courier New", Courier, monospace; }

*/

